.nav{
  background-color: var(--bs-cyan);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
.icon{
  color: var(--bs-white);
  font-size: 1.25rem;
}

.nav-link{
  padding: 10px;
  font-size: 2em;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-container:hover{
  background-color: rgb(51, 105, 255);
  opacity: 0.8;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .nav{
    background-color: var(--bs-dark);
  }
  .icon{
    color: var(--bs-white);
    font-size: 1.25rem;
  }
  .icon-container:hover{
    background-color: rgb(146, 193, 219);
  }
}
  
