@media (prefers-color-scheme: dark) {
  .loader-text {
    color: var(--bs-white) !important;
  }
}
@media (prefers-color-scheme: light) {
  .loader-text {
    color: var(--bs-black) !important;
  }
}
  
.loader-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--bs-text-color);
}